nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-links {
    background-color: #002244;
    padding: 10px 75px;
    border-radius: 50px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ed0000;
}

.logo img{
    width: 100px;
}

.page-title{
  text-align:center;
  margin:30px 0;
}

.dealer-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
  gap:20px;
  padding:20px;
}

.dealer-card{
  background:#fff;
  border-radius:12px;
  padding:18px;
  box-shadow:0 6px 18px rgba(0,0,0,.08);
   transition: 
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
/* Hover / Touch Effect */
.dealer-card:hover {
  transform: translateY(-6px);
  box-shadow:
    0 12px 30px rgba(137, 51, 51, 0.12),
    0 4px 10px rgba(0, 0, 0, 0.08);
}

/* Mobile touch feedback */
.dealer-card:active {
  transform: translateY(-3px);
  box-shadow:
    0 8px 20px rgba(0, 0, 0, 0.15);
}

.dealer-card p{
  font-size:14px;
  margin:15px 10px;
}

.dealer-card i {
  color: #002244;
  margin-right: 6px;
}

.dealer-name-pill {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 10px 22px;
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #002244;

  background: linear-gradient(
    145deg,
    #fcfcfc,
    #f3f0f0
  );

  border-radius: 999px;

  box-shadow:
    inset 0 1px 2px rgba(255, 255, 255, 0.9),
    inset 0 -1px 2px rgba(255, 254, 254, 0.05),
    0 6px 16px rgba(255, 255, 255, 0.25);

  backdrop-filter: blur(6px);
}

.dealer-line {
  display: flex;
  align-items: flex-start;   /* keeps icon + text aligned */
  gap: 8px;
  margin: 6px 0;
  font-size: 14px;
  line-height: 1.5;
}

.dealer-line i {
  min-width: 18px;           /* keeps all icons aligned */
  margin-top: 2px;
}

.dealer-line span {
  display: inline;
  word-break: break-word;
}


.call-btn{
  display:inline-block;
  margin-top:10px;
  padding:8px 14px;
  background:#dc3545;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
}

/* From Uiverse.io by alexruix */
.group {
  display: flex;
  line-height: 28px;
  align-items: center;
  position: relative;
  max-width: 300px;
  margin: 20px auto;
}

.input {
  height: 40px;
  line-height: 28px;
  padding: 0 1rem;
  width: 100%;
  padding-left: 2.5rem;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  background-color: #ffffff;
  color: #0d0c22;
  box-shadow: 0 0 5px #3f72d8, 0 0 0 10px #f5f5f5eb;
  transition: .3s ease;
}

.input::placeholder {
  color: #777;
}

.input:focus {
  box-shadow: 0 0 5px #060f24, 0 0 0 10px #11245d;
}

.icon {
  position: absolute;
  left: 1rem;
  fill: #002244;
  width: 1rem;
  height: 1rem;
}


footer {
    background: #002244;
    color: white;
    padding: 20px;
    text-align: center;
}
